@import "colors.css";

.btn {
    margin: 0.1em;
}

.btn-edit {
    background-color: var(--yellow);
    border-color: rgba(0, 0, 0, 0.1);
}

.btn-edit:hover {
    background-color: rgb(239, 193, 26);
    border-color: rgba(0, 0, 0, 0.1);
}

.btn-delete{
    background-color: var(--danger);
    border-color: rgba(0, 0, 0, 0.1);

}

.btn-delete:hover{
    background-color: var(--danger-hover);
    border-color: rgba(0, 0, 0, 0.1);

}

.btn-archive{
    background-color: rgb(128,128,128);
    border-color: rgba(0, 0, 0, 0.1);

}

.btn-archive:hover{
    background-color: rgb(128,128,128);
    border-color: rgba(0, 0, 0, 0.1);

}

.proposal-table {
    margin-top: 2em;
}

#view-archived-proposals {
    margin-left: auto;
}

.archived-btn:hover{
    background-color: var(--prussiaBlue)!important;
    color:var(--orange) !important;
}

