@import "colors.css";

.title{
    color:  var(--prussiaBlue);
}

.buttons{   
    background-color:  var(--prussiaBlue);
    color: white;
    border-color: var(--prussiaBlue);
}

.buttons2{
    background-color:  var(--samlButton);
    color: white;
    border-color: var(--samlButton);

}

.buttons3{
    background-color:  var(--cancelButton);
    color: white;
    border-color:  var(--cancelButton);

}

