@import "colors.css";


#basic-nav-dropdown
{
    width:max-content;
}

.brand {
    cursor: pointer;
}

.color-nav{
    background-color: var(--prussiaBlue);
    padding: 0;
}


.btn {
    font-size: .75em;
    font-family: Poppins-Bold, sans-serif;
    padding: 0.5em;
}

#navbarTitle {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    padding: 1em;
    width: 100%;
    height: 6em;
    justify-content: center;
    gap:0.5em;
    /* flex-basis: 0px; */
}



#navbarTitle > h1 {
    display: block;
    align-items: center;
    align-content: center;
    align-self: center;
    text-align: center;
    cursor: pointer;
    justify-content: center;
    font-size: 2.3em;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    flex-grow: 1;
}

#navbar p{
    margin-bottom: 0;
    color: var(--prussiaBlue);
    font-family: Poppins-SemiBold, sans-serif;
    width: max-content;
}

#navbar i {
    margin-left: 0.5em;
    cursor: pointer;
}

#navbarClock {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    color: var(--prussiaBlue);
    width: fit-content;
    max-width: fit-content;
    margin-bottom: auto;
    margin-top: auto;
    align-content: center;
    min-width: 13em;
    
    
}

#navbar{
    margin-bottom: 2em;
    top: 0;
    position: sticky;
    z-index: 1000;
    backdrop-filter: blur(33px);
}

#navbarTitle > img {
    width: 13em;
    cursor: pointer;
    
}

#navbar .dropdown > a{
    color: white;
}

.dropdown-menu{
    background-color: rgb(240, 240, 240);
    color: var(--prussiaBlue);
}

.dropdown-item:hover{
    background-color: rgb(240, 240, 240);
}

.dropdown-item > a{
    color: var(--prussiaBlue);
    text-decoration: none !important;
}
.dropdown-item > div {
    color: var(--prussiaBlue);
    text-decoration: none !important;
}
.dropdown-item > div:hover {
    color: var(--orange);
    text-decoration: none !important;
}

#nav-links > a {
    color: white !important;
    text-decoration: none !important;
}

a:hover, #nav-links > a:hover {
    color: var(--orange) !important;
}

.dropdown-item:hover {
    color: var(--orange) !important;
}

#nav-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: fit-content;
}

#nav-links > a {
    margin: 0 1em;
}


.color-nav {
    height: 3em;
    flex-wrap: wrap;
}

.navbar-toggler:focus{
    box-shadow: none;
    
}

@media screen and (max-width: 880px) {

    #navbarTitle > img {
        display: none;
    }
    #navbarClock{
        min-width: fit-content;
    }

}


@media screen and (max-width: 767px) {
   

    .color-nav  .container
    {
        --bs-gutter-x: 0;
    }
    
    .navbar-nav{
        background-color: var(--prussiaBlue);
        width: 100vw;
    }
    
    .navbar-nav #nav-links{
        
        display: flex;
        flex-direction: column;
        align-items: normal;
    }
    #basic-nav-dropdown {
        width: max-content;
        margin: 0.5em;
    }

    #navbarTitle {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        align-content: center;
        align-items: center;
        padding: 1em;
        width: 100%;
        height: 6em;
        justify-content: space-between;
        gap:0;


        /*
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        align-content: auto;*/
        
    }

    #navbarClock {
        
        justify-content: center;
        align-items: center;
        min-width: 100%;

    }

    #navbarTitle > h1 {
        font-size: 2em;
    }

    #navbarTitle > img {
        width: 10em;
    }

    
    #navbar {
        margin-bottom: 1em;
    }

    #nav-links {
        margin-top: 1em;
    }

    #nav-links > a {
        margin: 0 0.5em;
    }

    #navbarTitle > img {
        display: none;
    }
    
}
