@import "colors.css";

.brand {
    cursor: pointer;
}

.color-nav{
    background-color: var(--prussiaBlue);
}


.btn {
    font-size: .75em;
    font-family: Poppins-Bold;
    padding: 0.5em;
}

#navbarTitle {
    display: flex;
    flex-direction: row;
    
    align-items: center;
    padding: 1em;
}

#navbarTitle h1 {
    font-size: 3em;
}

#navbarTitle > h1 {
    display: block;
    width: 100%;
    text-align: center;
}