@import "colors.css";


.search-filter-btn{
    background-color: white;
    border-color:  var(--orange);
    color: black;
    border-color: var(--orange);
}

.btn {
    color: var(--prussiaBlue) !important;
}

.selected {
    background-color:  var(--orange);
    border-color:  var(--orange);
    color:white;
    border-color: var(--orange);
}

.selected:hover {
    background-color:  var(--orange);
    border-color:  var(--orange);
    color:white;
    border-color: var(--orange);
}

.selected:active:focus {
    background-color:  var(--dark-yellow);
    border-color:  var(--orange);
    color:white;
    border-color: var(--orange);

}

.apply-btn {
    margin-top:10px;
    background-color: var(--dark-green);
    color:white !important;
}

.cancel-btn {
    margin-top: 10px;
    background-color: var(--cancelButton);
    color:white !important;
}


.text-primary {
    color: var(--prussiaBlue) !important;
    font-family: Poppins-SemiBold;
}

button{
    color: var(--prussiaBlue) !important;
}