@import "colors.css";


.search-filter-btn{
    background-color: white;
    border-color:  var(--orange);
    color: black;
}

.btn {
    color: var(--prussiaBlue);
}

.selected {
    background-color:  var(--orange);
    border-color:  var(--orange);
    color:white;
}

.selected:hover {
    background-color:  var(--orange);
    border-color:  var(--orange);
    color:white;
}

.selected:active:focus {
    background-color:  var(--dark-yellow);
    border-color:  var(--orange);
    color:white;

}

.apply-btn {
    margin-top:10px;
    background-color: var(--dark-green);
    color:white !important;
}

.cancel-btn {
    margin-top: 10px;
    background-color: var(--cancelButton);
    color:white !important;
}


.text-primary {
    color: var(--prussiaBlue) !important;
    font-family: Poppins-SemiBold, sans-serif;
}

button{
    color: var(--prussiaBlue) !important;
}

@media screen and (max-width: 570px){
    .container-filter-proposal{
        display: flex;
        flex-direction: column !important;
    }
    
    #card-filter{
        width: 100% !important;
        max-width: 100% !important;
        position:static !important;
    }
}

#card-filter{
    height: fit-content;
    max-width: 15em;
}

#card-filter {
    position: sticky;
    top: 11em;
}

#card-proposal{
    width: 100%;
}

.container-filter-proposal{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1em;
    padding: 1em;
}

.pagination{
    padding-left: 2em;
    padding-right: 2em;
}