@import "src/styles/colors.css";
.pagination {
    display: flex;
    width: 100%;
}
.page-item {
    flex: 1;
    text-align: center;
    list-style: none;
}
.center-text {
    text-align: center;
}
.thesis-proposal {
    vertical-align: middle;
}
.search-filter-btn {
    margin-right: 10px;
    margin-left: 10px;
}

a[rel="canonical"]{
    background-color: var(--prussiaBlue) !important ;
    border-color: var(--prussiaBlue);
}