@import "styles/fonts.css";
@import "styles/colors.css";


* {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Poppins-Bold, sans-serif !important;
}

h1{
    color: var(--prussiaBlue);
    
}

* {
    font-family: Poppins-Regular, sans-serif;
}

.update-btn > i{
    margin-right: 5px !important;
}

.update-btn{
    margin-top: 10px !important;
    background-color: var(--orange);
    color: white !important;
    border-color: var(--orange);
}

.update-btn:hover{
    background-color: var(--light-orange);
    color: white !important;
    border-color: var(--light-orange);
}

.btn-confirm, .btn-success{
    background-color: var(--confirmButton);
    color: white !important;
    border-color: var(--confirmButton);
}

.btn-confirm:hover, .btn-success:hover{
    background-color: var(--confirmButton-hover);
    color: white !important;
    border-color: var(--confirmButton-hover);
}

.btn-cancel, .btn-danger{
    background-color: var(--cancelButton) !important;
    color: white !important;
    border-color: var(--cancelButton) !important;
}

.btn-cancel:hover, .btn-danger:hover{
    background-color: var(--cancelButton-hover) !important;
    color: white !important;
    border-color: var(--cancelButton-hover) !important;
}

.modal-title{
    font-family: Poppins-Bold, sans-serif !important;
    color: var(--prussiaBlue);
}
/* 
.btn-primary{
    background-color: var(--orange);
    color: white !important;
    border-color: var(--orange);
}

.btn-secondary{
    background-color: var(--prussiaBlue);
    color: white !important;
    border-color: var(--prussiaBlue);
}
 */
.btn-primary:hover{
    background-color: var(--light-orange);
    color: white !important;
    border-color: var(--light-orange);
}

.btn-secondary:hover{
    background-color: var(--light-prussiaBlue);
    color: white !important;
    border-color: var(--light-prussiaBlue);
}

.page-title {
    font-family: Poppins-Bold, sans-serif !important;
    color: var(--prussiaBlue);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 0.5em;
}
